In [1]:
class std:
     def __init__(self,name,age):
            self.name = name
            self.age = age
            
            
s = std('X',678)
s.name

'X'

In [2]:
# inheritance ----> 

class emp:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
class emp2(emp):
    def __init__(self,name,age,sal):
        super().__init__(name,age)
        self.sal = sal
        
        
e = emp2("Sahil",56,90)
e.name

'Sahil'

In [3]:
e.age

56

In [4]:
e.sal

90

In [18]:
class emp:
    def __init__(self,name,age):
        self.name = name
        self.age = age

class emp2:
    def __init__(self,sal):
        self.sal = sal
        
class emp3(emp,emp2):
    def __init__(self,name,age,sal,role):
        super().__init__(name,age)
        super().__init__(sal,age)
        self.role = role
        
    
e= emp3('rohan',25,34,'intern')
    
e.role

'intern'

In [29]:
class one:
    def __init__(self,x):
        self.x = x
    
class two:
    def __init__(self,y):
        self.y = y
    
class three(one,two):
    def __init__(self,x,y,z):
        one.__init__(self,x)
        two.__init__(self,y)
        self.z = z
        
t = three(1,67,34)
t.x

1

In [30]:
t.z

34

In [31]:
t.y

67

In [32]:
class me:
    def func(self,x):
        return x
    
class you(me):
    def detail(self,y):
        return y
    
y = you()
y.func(3)

3

In [33]:
y.detail(56)

56

# Abstraction

In [47]:
from abc import ABC,abstractmethod

class detail(ABC):
    @abstractmethod
    def __init__(self,x):
        self.x = x
        
class info(detail):
    def __init__(self,x,y):
        super().__init__(x)
        self.y = y
        
i = info(3,5)
i.y

5

In [48]:
i.x

3