In [1]:
# Wap 


x = [1,2,3,4,'hello']
x[::-1]

['hello', 4, 3, 2, 1]

In [5]:
x = [45,67,90,23]
x[0],x[-1]= x[-1],x[0]
print(x)

[23, 67, 90, 45]

In [12]:
x = [5555,78,67,221,990,-67,34,1000]
max = x[0]
for i in x:
    if i>max:
        max = i
print("Greatest num",max)

Greatest num 5555

In [28]:
#wap to count odd & even number in a list.
x = [ 78,89,45,23,100]
count_even = 0 
count_odd = 0 
for i in x:
    if i%2==0:
        print("Even number",i)
        count_even = count_even +1

    else:
        count_odd = count_odd+1
        print("Odd number",i)
        
print("Count even numb------>",count_even)
print("Count odd numb------>",count_odd)

Even number 78
Odd number 89
Odd number 45
Odd number 23
Even number 100
Count even numb------> 2
Count odd numb------> 3

In [38]:
a = [34,45,89,56]
b = [67,89,23,90]
for i in a:
    for j in b:
        if i == j :
             print(i)
else:
    print("Not similar")

89
Not similar

In [39]:
#wap to create single element list.
# Wap to create a empty list.

In [40]:
a = [23]

In [41]:
a

[23]

In [42]:
type(a)

list

In [43]:
a = []
print(a)

[]

In [44]:
type(a)

list

# Tuple

In [45]:
a = (56,67,89)

In [46]:
a

(56, 67, 89)

In [47]:
type(a)

tuple

In [48]:
a

(56, 67, 89)

In [50]:
a[0]='python'

TypeError: 'tuple' object does not support item assignment

In [51]:
# index/count
a

(56, 67, 89)

In [54]:
a.index(67)

1

In [60]:
x = (0,45,89,67,'True','python',1,False,True)

In [61]:
x.count(0)

2

In [62]:
x.count(1)

2

In [63]:
#empty tuple
# single element tuple









# wap to add a data in a tuple.
#wap to delete the data in a tuple.

In [64]:
x = ()
print(x)

()

In [65]:
type(x)

tuple

In [68]:
x = (1,)
print(x)

(1,)

In [69]:
type(x)

tuple

In [70]:
x = 23,45,67,90,34

In [71]:
x

(23, 45, 67, 90, 34)

In [72]:
type(x)

tuple