In [1]:
class std:
    def details(self,name,age,marks):
        print(name)
        print(age)
        print(marks)
    
s = std()
s.details("a",90,2)

a
90
2

In [2]:
class std:
    def details(self,name,age,marks):
        return(name)
        return(age)
        return(marks)
    
s = std()
s.details("a",90,2)

'a'

# Constructor

In [3]:
class std:
    
    def __init__(self,name,age):
        
        self.name = name
        self.age = age
        
s = std("abcd",98)

In [4]:
s.name

'abcd'

In [24]:
class emp1:
    def __init__(self,name,sal):
        self.name = name
        self.sal = sal
        
class emp2(emp1):
    def __init__(self,name,sal,age):
        emp1.__init__(self,name,sal)
        self.age = age
        
        
        
        
e = emp2("Kartik",20,40)
e.age
e.name

'Kartik'

In [19]:
e.name

300

In [16]:
e.age

300

In [20]:
e.sal

'Kartik'

In [27]:
#wap to check the speed of a bike using oops fundaments where
# the distance is covered by bike is almost 250 km 
# and time taken is 10 hours.


#WAP to find the sal of a two emp ram and shyam where Ram
# take 4 leaves in a month with a deduction of 5.6% of the 
# salary while shyam take no leave with the increment of 30%
# in the salary. Find the salry with the 
# help of oops fundamentals
\
class std:
    def __init__(self,name,age):
        self.name = "Yogesh"
        self.age = 23
        
s = std(1,2)
s.name

'Yogesh'

In [28]:
s.age

23